# Include any files or directories that you don't want to be copied to your
# container here (e.g., local build artifacts, temporary files, etc.).
#
# For more help, visit the .dockerignore file reference guide at
# https://docs.docker.com/go/build-context-dockerignore/

**/.dockerignore
**/.git
**/.husky
**/.gitignore
**/docker-compose*
**/compose.y*ml
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/dist
**/.vscode
LICENSE
README.md
*.xmind

# backend
app/backend/src/config/dev.env.js
app/backend/src/config/env.js
app/backend/src/config/prod.env.js
app/backend/deploy.config.js

**/.project
**/.settings
**/.toolstarget
**/.vs
**/.next
**/.cache
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/charts
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
**/build
**/.classpath
