{
    "app/webpack-vue3/src/**/*.{js,mjs,jsx,ts,tsx,vue}": "pnpm --filter webpack-vue3 lint-fix",
    "app/webpack-vue3/src/**/*.{css,less,scss,vue}": "pnpm --filter webpack-vue3 lint-style-fix",
    "app/vite-vue3/src/**/*.{js,mjs,jsx,ts,tsx,vue}": "pnpm --filter vite-vue3 lint-fix",
    "app/vite-vue3/src/**/*.{css,less,scss,vue}": "pnpm --filter vite-vue3 lint-style-fix",
    "app/backend/src/**/*.js": "pnpm --filter backend lint-fix"
}
