@import url("./reset.less");
@import url("./animation.less");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .clearfix {
        &::after,
        &::before {
            display: table;
            content: "";
        }

        &::after {
            clear: both;
        }
    }
}
