name: vite-vue3-cicd

on:
  push:
    tags:
      - 'vite-vue3@*'

env:
  SSH_PRIVATE_KEY: ${{secrets.SSH_PRIVATE_KEY}}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup Node.js 18
      uses: actions/setup-node@v4
      with:
        node-version: 18

    - name: Setup pnpm
      uses: pnpm/action-setup@v4.0.0
      with:
        version: 9.4.0

    - name: Build Dist
      run: |
        pnpm install --frozen-lockfile
        pnpm vite-vue3:build

  deploy:
    needs: [build]
    runs-on: ubuntu-latest
    steps:
      - name: Upload to Qiniu
        uses: cumt-robin/upload-to-qiniu-action@v1
        with:
          access_key: ${{ secrets.QINIU_ACCESS_KEY }}
          secret_key: ${{ secrets.QINIU_SECRET_KEY }}
          bucket: ${{ secrets.QINIU_BUCKET }}
          region: ${{ secrets.QINIU_REGION }}
          local_dir: app/vite-vue3/dist
